{% extends 'base.html.twig' %}

{% block title %}Événements{% endblock %}

{% block body %}
 
    
      <section id="hero" class="hero d-flex align-items-center">
        <div class="container">
        <div class="row gy-4 d-flex justify-content-between">
            <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
                <h2 data-aos="fade-up">Événements</h2>
                <p data-aos="fade-up" data-aos-delay="100">
                    Découvrez nos prochains événements
                </p> 
            </div> 

        </div>
        </div>
    </section> 



  <main id="main">



    <section id="service" class="services pt-0">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <span>Événements</span>
          <h2>Événements</h2>

        </div>

        <div class="row gy-4">

            {% for item in events %}
                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                        <div class="card">
                            <div class="card-img">
                                <img src="/images/events/{{ item.image }}" alt="" class="img-fluid">
                            </div>
                            <h3><a href="{{ path('event_details_route',{id:item.id}) }}" class="stretched-link">{{ item.title }}</a></h3>
                            <p>
                                <span class="badge bg-primary text-sm text-white">{{ item.startDate | date( 'd/m/Y' ) }}</span>
                            </p>
                            <p>
                                <a href="{{ path('event_details_route',{id:item.id}) }}" class="btn btn-sm btn-primary text-white">plus de détails</a>
                            </p>
                        </div>
                    </div>

            {% endfor %}
          
         
        </div>

      </div>
    </section><!-- End Services Section -->



  </main>
  

  
{% endblock %}
